<section class="pb-16">
  <div class="flex flex-col items-center gap-1">
    <h3 class="text-xl font-black mt-16">Reviewed by People</h3>
    <h1 class="text-5xl font-black mb-2 text-center">Client's Testimonials</h1>
    <p class="text-center w-96">
      Discover the positive impact we've made on the our clients by reading
      through their testimonials. Our clients have experienced our service and
      results, and they're eager to share their positive experiences with you.
    </p>
  </div>
  <div class="flex flex-col items-center gap-6 mt-8 lg:flex-row justify-center">
    <div class="flex flex-col w-96 h-72 bg-white p-10 gap-12 shadow-2xl">
      <h3>
        "We rented a car from this website and had an amazing experience! The
        booking was easy and the rental rates were very affordable."
      </h3>
      <div class="flex justify-between items-center">
        <div class="flex gap-3">
          <img
            class="w-12 rounded-full"
            src="assets/images/customr.png"
            alt=""
          />
          <div class="flex flex-col">
            <h4>Adam Muller</h4>
            <p>Vienna</p>
          </div>
        </div>
        <fa-icon class="text-orange-600 text-2xl" [icon]="quote"></fa-icon>
      </div>
    </div>
    <div class="flex flex-col w-96 h-72 bg-white p-10 gap-12 shadow-2xl">
      <h3>
        "The car was in great condition and made our trip even better. Highly
        recommend for this car rental website!"
      </h3>
      <div class="flex justify-between items-center">
        <div class="flex gap-3">
          <img
            class="w-12 rounded-full"
            src="assets/images/customer.webp"
            alt=""
          />
          <div class="flex flex-col">
            <h4>Peter Novak</h4>
            <p>Bratislava</p>
          </div>
        </div>
        <fa-icon class="text-orange-600 text-2xl" [icon]="quote"></fa-icon>
      </div>
    </div>
    <div></div>
  </div>
</section>
