<section class="flex items-center relative mt-12 mb-12">
  <div class="flex justify-center z-10">
    <div class="flex-col">
      <h3 class="text-xl font-black mb-4">Plan your trip now</h3>
      <h1 class="text-5xl font-black">
        Save <span class="text-orange-600">big</span> with our car rental
      </h1>
      <p class="mb-8 mt-5">
        Rent the car of your dreams. Unbeatable prices, unlimited miles,
        flexible pick-up options and much more.
      </p>
      <div class="flex flex-row gap-4">
        <a
          class="text-white p-5 bg-orange-600 rounded-md cursor-pointer hover:bg-orange-700 w-36"
          >Book Ride</a
        >
        <a
          class="text-white p-5 bg-orange-600 rounded-md cursor-pointer hover:bg-orange-700 w-36"
          >Learn more ></a
        >
      </div>
    </div>
    <div>
      <img
        class="h-auto hidden lg:block md:block"
        src="assets/images/audi.png"
        alt=""
      />
    </div>
  </div>
</section>
