<section class="mt-28">
  <div>
    <div class="flex flex-col items-center justify-center">
      <h3 class="text-xl font-bold mb-4">Plan your trip now</h3>
      <h1 class="text-4xl font-black mb-8">Quick & easy car rental</h1>
    </div>
    <div class="flex flex-row justify-center flex-wrap gap-20">
      <div class="flex flex-col items-center">
        <img class="w-52 h-auto" src="assets/images/select-car.png" alt="" />
        <h3 class="text-xl font-bold mb-4">Select Car</h3>
        <p class="w-80">
          We offers a big range of vehicles for all your driving needs. We have
          the perfect car to meet your needs
        </p>
      </div>
      <div class="flex flex-col items-center">
        <img class="w-52 h-auto" src="assets/images/operator.png" alt="" />
        <h3 class="text-xl font-bold mb-4">Contact Operator</h3>
        <p class="w-80">
          Our knowledgeable and friendly operators are always ready to help with
          any questions or concerns
        </p>
      </div>
      <div class="flex flex-col items-center">
        <img class="w-52 h-auto" src="assets/images/lets-drive.png" alt="" />
        <h3 class="text-xl font-bold mb-4">Let's Drive</h3>
        <p class="w-80">
          Whether you're hitting the open road, we've got you covered with our
          wide range of cars
        </p>
      </div>
    </div>
  </div>
</section>
