<section>
  <div class="flex flex-col gap-12">
    <div class="flex flex-col items-center mt-32">
      <h3 class="text-xl font-black">Vehicle Models</h3>
      <h1 class="text-3xl font-black">Our rental fleet</h1>
      <p>
        Choose from a variety of our amazing vehicles to rent for your next
        adventure or business trip
      </p>
    </div>
    <div class="flex flex-col lg:flex-row justify-between">
      <div class="flex flex-col items-center gap-2">
        <button
          class="p-4 bg-gray-100 text-l font-black text-left w-60 hover:bg-orange-600"
        >
          Audi A5 S-line
        </button>
        <button
          class="p-4 bg-gray-100 text-l font-black text-left w-60 hover:bg-orange-600"
        >
          BMW 320d
        </button>
        <button
          class="p-4 bg-gray-100 text-l font-black text-left w-60 hover:bg-orange-600"
        >
          VW Golf V
        </button>
        <button
          class="p-4 bg-gray-100 text-l font-black text-left w-60 hover:bg-orange-600"
        >
          Mercedes GLE
        </button>
        <button
          class="p-4 bg-gray-100 text-l font-black text-left w-60 hover:bg-orange-600"
        >
          Skoda Superb
        </button>
      </div>
      <div class="flex justify-center">
        <img style="width: 500px" src="assets/images/audi.png" alt="" />
      </div>
      <div>
        <div class="flex justify-center p-3 bg-orange-600 text-white">
          <span class="mr-1">€35</span> / rent per day
        </div>
        <div
          class="flex gap-4 border-l-2 border-black border-r-2 border-b-2 p-2"
        >
          <span class="w-24">Brand</span>
          <span>|</span>
          <span class="w-24">Audi</span>
        </div>
        <div
          class="flex gap-4 border-l-2 border-black border-r-2 border-b-2 p-2"
        >
          <span class="w-24">Model</span>
          <span>|</span>
          <span class="w-24">A5</span>
        </div>
        <div
          class="flex gap-4 border-l-2 border-black border-r-2 border-b-2 p-2"
        >
          <span class="w-24">Year</span>
          <span>|</span>
          <span class="w-24">2015</span>
        </div>
        <div
          class="flex gap-4 border-l-2 border-black border-r-2 border-b-2 p-2"
        >
          <span class="w-24">AC</span>
          <span>|</span>
          <span class="w-24">Yes</span>
        </div>
        <div
          class="flex gap-4 border-l-2 border-black border-r-2 border-b-2 p-2"
        >
          <span class="w-24">Transmission</span>
          <span>|</span>
          <span class="w-24">Automatic</span>
        </div>
        <div
          class="flex gap-4 border-l-2 border-black border-r-2 border-b-2 p-2"
        >
          <span class="w-24">Engine</span>
          <span>|</span>
          <span class="w-24">Diesel</span>
        </div>
        <a
          class="flex justify-center p-3 bg-orange-600 text-white mt-4 cursor-pointer hover:bg-orange-700"
        >
          Reserve Now
        </a>
      </div>
    </div>
  </div>
</section>
