<section>
  <div class="flex flex-col gap-12">
    <div class="flex flex-col items-center mt-32">
      <h3 class="text-xl font-black">Vehicle Models</h3>
      <h1 class="text-3xl font-black">Our rental fleet</h1>
      <p>
        Choose from a variety of our amazing vehicles to rent for your next
        adventure or business trip
      </p>
    </div>
    <div class="flex flex-col lg:flex-row justify-between">
      <div class="flex flex-col items-center gap-2">
        <button
          *ngFor="let car of cars | async"
          [ngClass]="
            selectedCar.make === car.make ? 'bg-orange-600' : 'bg-gray-100'
          "
          (click)="selectCar(car)"
          class="p-4 bg-gray-100 text-l font-black text-left w-60 hover:bg-orange-600"
        >
          {{ car.name }}
        </button>
      </div>
      <div class="flex justify-center">
        <img style="width: 500px" src="{{ imagePath }}" alt="" />
      </div>
      <div>
        <div class="flex justify-center p-3 bg-orange-600 text-white">
          <span class="mr-1">€{{ selectedCar.price }}</span> / per day
        </div>
        <div
          class="flex gap-4 border-l-2 border-black border-r-2 border-b-2 p-2"
        >
          <span class="w-24">Brand</span>
          <span>|</span>
          <span class="w-24">{{ selectedCar.brand }}</span>
        </div>
        <div
          class="flex gap-4 border-l-2 border-black border-r-2 border-b-2 p-2"
        >
          <span class="w-24">Model</span>
          <span>|</span>
          <span class="w-24">{{ selectedCar.make }}</span>
        </div>
        <div
          class="flex gap-4 border-l-2 border-black border-r-2 border-b-2 p-2"
        >
          <span class="w-24">Year</span>
          <span>|</span>
          <span class="w-24">{{ selectedCar.year }}</span>
        </div>
        <div
          class="flex gap-4 border-l-2 border-black border-r-2 border-b-2 p-2"
        >
          <span class="w-24">AC</span>
          <span>|</span>
          <span class="w-24">{{ selectedCar.ac }}</span>
        </div>
        <div
          class="flex gap-4 border-l-2 border-black border-r-2 border-b-2 p-2"
        >
          <span class="w-24">Transmission</span>
          <span>|</span>
          <span class="w-24">{{ selectedCar.transmission }}</span>
        </div>
        <div
          class="flex gap-4 border-l-2 border-black border-r-2 border-b-2 p-2"
        >
          <span class="w-24">Engine</span>
          <span>|</span>
          <span class="w-24">{{ selectedCar.fuel }}</span>
        </div>
        <a
          fragment="/book-car"
          (click)="reserve('book-car')"
          class="flex justify-center p-3 bg-orange-600 text-white mt-4 cursor-pointer hover:bg-orange-700"
          >Reserve Now
        </a>
      </div>
    </div>
  </div>
</section>
