<section class="bg-gradient-to-b from-gray-100 to-white z-10">
  <div class="p-8 flex flex-col z-20 bg-white shadow-2xl">
    <h3 class="text-xl font-black mb-4">Book a car</h3>
    <form
      [formGroup]="bookCar"
      (ngSubmit)="onSubmit()"
      class="grid gap-8 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 z-20"
    >
      <div class="flex flex-col">
        <label
          ><fa-icon [icon]="carIcon"></fa-icon> Select Your Car Type *
        </label>
        <p-dropdown
          *ngIf="cars | async as vehicles"
          formControlName="car"
          placeholder="Select car"
          [options]="vehicles"
          optionLabel="name"
        ></p-dropdown>
      </div>

      <div class="flex flex-col">
        <label><fa-icon [icon]="marker"></fa-icon> Pick-up *</label>
        <p-dropdown
          formControlName="pickUpLocation"
          placeholder="Select pick-up location"
          [options]="locations"
        ></p-dropdown>
      </div>

      <div class="flex flex-col">
        <label><fa-icon [icon]="marker"></fa-icon> Drop off * </label>
        <p-dropdown
          formControlName="dropOffLocation"
          placeholder="Select drop-off location"
          [options]="locations"
        ></p-dropdown>
      </div>

      <div class="flex flex-col">
        <label><fa-icon [icon]="dateIcon"></fa-icon> pick up date * </label>
        <input type="date" formControlName="pickUpDate" />
      </div>

      <div class="flex flex-col">
        <label><fa-icon [icon]="dateIcon"></fa-icon> Drop off date * </label>
        <input type="date" formControlName="dropOffDate" />
      </div>

      <button class="text-white p-3 bg-orange-600 hover:bg-orange-700">
        Submit
      </button>
    </form>
  </div>
</section>
